.FillForm {
  background: #FFFFFF;
}

.app-container {
  margin-left: -15px;
  margin-right: -15px;
  padding: 15px 15px 15px 15px;
  background: #FFFFFF;
}

.headerBar  {
  padding: 10px 0 40px 0;
  width: 100%; 
  height: 38px; 
  background-color: #66b5ff;
}

h1 {
  list-style: none;
  text-align: center;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 24px;
  letter-spacing: 2px;
  text-shadow: 2px 2px grey;
}