/* PROGRESS TRACKER */
ol.progtrckr {
  list-style-type: none;
  padding: 30px 0 10px 40px;
}

ol.progtrckr li {
  display: inline-block;
  text-align: center;
  line-height: 4.5rem;
  cursor: pointer;
}

ol.progtrckr li span {
  padding: inherit;
}

@media (max-width: 650px) {
  .progtrckr li span {
    display: none;
  }
}
.progtrckr em {
  display: none;
  font-weight: 700;
  padding-left: 1rem;
}

@media (max-width: 650px) {
  .progtrckr em {
    display: inline;
  }
}

ol.progtrckr li.progtrckr-todo {
  color: silver;
  border-bottom: 4px solid silver;
}

ol.progtrckr li.progtrckr-doing {
  color: black;
  border-bottom: 4px solid #CCCCCC;
}

ol.progtrckr li.progtrckr-done {
  color: black;
  border-bottom: 4px solid #5cb85c;
}

ol.progtrckr li:after {
  content: "\00a0\00a0";
}

ol.progtrckr li:before {
  position: relative;
  bottom: -3.7rem;
  float: left;
  left: 50%;
}

ol.progtrckr li.progtrckr-todo:before {
  content: "\039F";
  color: silver;
  background-color: white;
  width: 1.2em;
  line-height: 1.4em;
}

ol.progtrckr li.progtrckr-todo:hover:before {
  color: #ff4500;
}

ol.progtrckr li.progtrckr-doing:before {
  content: "\2022";
  color: white;
  background-color: #CCCCCC;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}

ol.progtrckr li.progtrckr-doing:hover:before {
  color: #ff4500;
}

ol.progtrckr li.progtrckr-done:before {
  content: "\2713";
  color: white;
  background-color: #5cb85c;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}

ol.progtrckr li.progtrckr-done:hover:before {
  color: #333;
}

/* FORM PAGE */

html h1 {
  font-size: 20px;
  margin-left: 10px;
}

html h2 {
  font-size: 22px;
  margin-left: 10px;
}

html h3 {
  font-size: 14px;
  margin-left: 10px;
}

html h4 {
  font-size: 16px;
}

.form-container {
  text-align: inherit;
}

.progtrckr {
  text-align: left;
  margin-left: 70px;
  padding-bottom: 16px;
}


.navbar .btn, .navbar .btn-group {
  margin-left: 110px;
  margin-top: -100px;
}

.val-err-tooltip {
  background-color: red;
  font-size: 14px;
  color: #fff;
}

.step {
  background-color: #ccc;
  min-height: 450px;
}

html .step3 label, html .step4 label {
  font-size: 20px;
  padding-left: 50px;
}


html .form-horizontal .control-label-title {
  padding-left: 80px;
  padding-right: 10px;
}

html .form-horizontal .control-label {
  padding-left: -50px;
  padding-right: 10px;
}

.review .txt {
  font-size: 20px;
  margin: 0;
  padding-left: 50px;
}

html body .saving {
  background-color: #5cb85c;
  width: 90%;
  padding: 5px;
  font-size: 16px;
}

code {
  position: relative;
  left: 12px;
  line-height: 25px;
}

.eg-jump-lnk {
  margin-top: 50px;
  font-style: italic;
}

.lib-version {
  font-size: 12px;
  background-color: rgba(255, 255, 0, 0.38);
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px;

} html body .saving {
  background-color: #5cb85c;
  width: 90%;
  padding: 5px;
  font-size: 16px;
}

html .content {
  margin-left: 10px;
}

span.red {
  color: #d9534f;
}

span.green {
  color: #3c763d;
}

span.bold {
  font-weight: bold;
}

html .hoc-alert {
  margin-top: 20px;
}

html .form-block-holder {
  margin-top: 20px !important;
}

.form-row {
  padding-left: 20px;
  padding-bottom: 150px;
}


